<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="bpulse.client.periodInMinutesNextExecTimer" value="1"/>
    <add key="bpulse.client.maxNumberPulsesReadFromTimer" value="180000"/>
    <add key="bpulse.client.bpulseUsername" value="bpulse@bpulse.com"/>
    <add key="bpulse.client.bpulsePassword" value="bpulse3bpulse"/>
    <add key="bpulse.client.bpulseRestURL" value="http://104.198.5.205:8080/app.collector/collector/pulses"/>
    <add key="bpulse.client.pulsesRepositoryDBPath" value="/i4j/deploys/bpulse-client/"/>
    <add key="bpulse.client.pulsesRepositoryDBMaxSizeBytes" value="1073741824"/>
    <add key="bpulse.client.pulsesRepositoryMode" value="MEM"/>
    <add key="bpulse.client.pulsesRepositoryMemMaxNumberPulses" value="1000000"/>
  </appSettings>
</configuration>

